@media screen and (min-width: 320px) and (max-width: 768px) {
    .formuModalCompte{
        width: 70% !important;

    }

    .formuModalCompte2{
        position: absolute;
        top: 50px;
        left: 20px;
    }
    .formuModalCompte2 h1{
        font-size: 20px !important;
    }

    .formuModalCompte2 label{

        font-size: 10px !important;
    }
    .formuModalCompte2 input{

        font-size: 10px !important;
    }
    

}
/* ModalCompte 1 et ModalCompte 2 */
.cadreCompte{
    height:100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.formulaire{
    padding: 0px 30px;
    border-radius: 20px;
}

.croix{
    cursor: pointer;
}

