@media screen and (min-width: 320px) and (max-width: 700px) {
    .preNavbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divInput{
        margin-bottom: 20px;
        align-items: center;
    }
    .panier{
        font-size: 10px;
    }

}

.langue{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 12px;
    font-weight: bold;
    color: grey;

}

.cardreNavbar{

    background-color: rgba(243,241,238,255);
}




.preNavbar{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(243,241,238,255);

}


.divInput input{
    border-radius: 10px;
    width: 50%;
    padding: 10px;

}

.divInput span{
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.panier{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monCompte{
    border: 1px solid rgba(230,224,216,255);
    padding: 10px;
    margin-right: 50px;
    border-radius: 10px;
}

.monPanier{
    border: 1px solid rgba(230,224,216,255);
    padding: 10px;
    border-radius: 10px;    
}

/* La Navbar  */

.divNavbar nav{
    background-color: rgba(230,224,216,255);
}




