@media screen and (min-width: 320px) and (max-width: 760px){
    .plusetmoins{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .cadrePanier{
        margin-left: 0 !important;
    }
}

.cadrePanier{
    margin: 0 auto;
}


.moins, .nombre, .plus{
    padding: 2px 10px;
    border: 1px solid black;
}

.moins, .plus{
    cursor: pointer;
}

.choix{
    cursor: pointer;
}

.montantTotal{
    margin-top: 50px;
    width: 50% !important;
}

.table img{
    width: 100px;

}

.table{
    margin-top: 20px;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.inputReduction input{
    padding: 5px;
    border-radius: 10px;
}


.inputReduction{
    margin-top: 5px;
}

.panierAjoutContent{
    position: relative;
}

.croixPanier{
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
}
