.moins, .nombre, .plus{
    padding: 2px 10px;
    border: 1px solid black;
}

.moins, .plus{
    cursor: pointer;
}

.choix{
    cursor: pointer;
}

.montantTotal{
    margin-top: 50px;
    width: 50% !important;
}

.table img{
    width: 100px;

}

.total{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.inputReduction input{
    padding: 5px;
    border-radius: 10px;
}


.inputReduction{
    margin-top: 5px;
}